<% if @feed_items.any? %>
	<ol class="microposts">
		<div id="feed_box">
		<%= render partial: 'shared/feed_item', collection: Micropost.all %>
	</div>
	</ol>
	<%= will_paginate @feed_items %>	
	<% end %>
